<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Stream or Static Feed</title>
</head>
<body>
    <div class="container">
        <img src="../static/cnt.jpg" alt="CNT4713" class="logo">
        <h3> CNT4713 Stream Project</h3>
        <div class="form-input">
            <form action="/static" method="POST">
                <button class="btn" name="static" type="submit">Static</button>
            </form>
            <form action="/stream" method="POST">
                <button class="btn" name="stream" type="submit">Stream</button>
            </form>
        </div>
    </div>
</body>
</html>